target/
*.jar
*.war
*.class

.idea/
*.iml
.vscode/
*.suo
.DS_Store

*.log
logs/
spring-shell.log

.env
.env.local
.env.*.local
**/application-secret.yml
**/application-local.yml
**/*-secrets.yml

infra/data/

k8s/**/*-secret.yml
k8s/**/*-secret.yaml
